
h1 {text-align: center;
    color: rgb(140, 100, 21);
}
ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    list-style-type: none;
    background-color: rgb(233, 220, 176);
    color: rgb(47, 165, 65);
    width: 90%;
    max-width: 35rem;
    border: 5px inset rgb(121, 172, 98);
    border-radius: 20px;
    margin: 2rem auto;
}

ul li {
    font-size: 30px;
}

li a {
    color: rgb(57, 125, 39);
    text-decoration: none;
}