ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style-type: none;
    background-color: rgb(233, 220, 176);
    color: rgb(47, 165, 65);
    width: 90%;
    max-width: 35rem;
    border: 5px inset rgb(121, 172, 98);
    border-radius: 20px;
    margin: 2rem auto;
}

ul li {
    font-size: 30px;
    text-align: center;
}

li a {
    color: rgb(57, 125, 39);
    text-decoration: none;
}